# Ignore all pycache files
__pycache__/

# Ignore the virtual environment
venv/

# Ignore all .pt files
*.pt

# Ignore all pickle files
*.pkl

# ignore environment variable file
.env

# ignore local faces directory
faces/